body, html {
    height: 100%;
  }
*{
    box-sizing: border-box;       
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    background-size:100% 100%;
      
}
.registrarse, .login{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: relative;   
    
}
.registrarse_titulo, .registrarse_label, .registrarse_submit, .registrarse_input,
.login_input, .login_label, .login_titulo, .login_submit{
    display: block;
    width: 100%;    
    font-size: 1.0cm;
}
.registrarse_label, .login_label{
    padding-left: 1px;
    position: absolute;
    margin-top: -120px;
    color: rgba(0,0,0,0.3);    
    font-size: .80cm;
}
.registrarse_input, .login_input{
    padding: 1px;
    background: rgba(0,0,0,0);
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 35px;
    border-radius: 35px;    
    }
.registrarse_titulo, .login_titulo{
    text-align: center;
    margin-top: 0;
    color: green;
    padding: 5px;
}
.registrarse_submit, .login_submit{
    background:green;
    color: white;
    padding: 5px 20px;
    cursor: pointer;    
    border-radius: 35px; 
}
.contenedor_img {
    text-align: center;
    margin: 24px 0 12px 0;
}
.imagen {
    margin-top: 0;
    position: center;
    padding: 1px;    
   }
.mostrar_fondo{
    text-align: center;
    height: 100%;    
}
.fondo_web{
        /* The image used */
        background-image: url("fondo_web.jpg");
       
        /* Full height */
        height: 100%; 
        width: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  }
   .navbar {
    overflow: hidden;
    background-color: #333; 
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: green;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color:green;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}
.footer_index {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333; 
    color: white;
    text-align: center;
 }